<div class="container">
    <div class="row vh-100">
        <div class="col-4 m-auto">
            <div class="box">
                <div class="header">Przypomnienie Hasla</div>
                <div class="content">
                    <form [formGroup]="emailForm">
                        <div class="form-group">
                            <input type="text" formControlName="username" class="form-control" placeholder="Email">
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary float-right">Przypomnij</button>
                                <button class="btn btn-light float-right" [routerLink]="['/login']">Wroc</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>