<ng-container *ngIf="loader.state === 'loaded'">
    <div class="content">
        <h4 class="text-center mb-4">{{'permissions.add.title' | translate}}</h4>
            <form [formGroup]="permForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="col-sm-8 col-md-6 mx-auto">
                        <input formControlName="permName" type="text" class="form-control" placeholder="{{'permissions.label.rankName' | translate}}" [ngClass]="{'is-invalid': (f.permName.dirty || submitted) && f.permName.errors}">
                        <div *ngIf="(f.permName.dirty || submitted) && f.permName.errors" class="invalid-feedback">
                            <div *ngIf="f.permName.errors.required">{{'permissions.error.required' | translate}}</div>
                            <div *ngIf="f.permName.errors.maxlength">{{'permissions.error.maxLength' | translate}}</div>
                            <div *ngIf="f.permName.errors.pattern">{{'permissions.error.onlyLetters' | translate}}</div>
                        </div>
                    </div>
                </div>
        
                <div class="form-group">
                    <div class="col-sm-8 col-md-6 mx-auto">
                        <select formControlName="perms" class="browser-default custom-select">
                            <option value="user" ng-selected="true">{{'permissions.add.rank.user' | translate}}</option>
                            <option value="admin">{{'permissions.add.rank.admin' | translate}}</option>
                        </select>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-sm-8 col-md-6 mx-auto text-center">
                        <input type="hidden" formControlName="color">
                        <span 
                            [style.background]="defaultColor"
                            [cpToggle]="true"
                            [cpDialogDisplay]="'inline'"
                            [cpAlphaChannel]="'disabled'"
                            (colorPickerChange)="onColorChange($event)"
                            [(colorPicker)]="defaultColor">
                        </span>
                    </div>
                </div>
            
                <div class="form-group">
                    <div class="row mt-5">
                        <div class="col-6">
                            <button [routerLink]="['/perms']" type="button" class="btn btn-danger float-right">{{'permissions.button.cancel' | translate}}</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-success">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 float-left"></span>
                                {{'permissions.button.add' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</ng-container>