@import '../../../assets/styles/variables.less';

.box {
    border: 1px solid lightgray;

    .header { 
        text-align: center;
        border-bottom: 1px solid lightgray;
        margin: 0px 10% 0px 10%;
        padding: 10px;
    }

    .content {
        padding: 30px 15px 20px 15px;
    }

    a {
        font-size: small;
    }
}

.card {
    background: none;

    .card-header {
        background: none;
        margin: 0px 10% 0px 10%;
        border-bottom: 1px solid lightgray;
        text-align: center;
    }

    a {
        font-size: small;
    }
}