<div class="container">
    <div class="row vh-100">
        <div class="col-5 m-auto">
            <div class="card">
                <h5 class="card-header">Logowanie</h5>
                <div class="card-body">
                    <form [formGroup]="loginForm" (ngSubmit)="OnSubmit()">
                        <div *ngIf="error" class="alert alert-danger">
                            {{ error }}
                        </div>
                        <div class="form-group">
                            <input type="text" formControlName="username" class="form-control" placeholder="Login" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">Username is required.</div>
                            </div>
                        </div>
        
                        <div class="form-group">
                            <input type="password" formControlName="password" class="form-control" placeholder="Haslo" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required.</div>
                            </div>
                        </div>
        
                        <div class="row">
                            <div class="col-12">
                                <a [routerLink]="['/pass-reset']">Przypomnij haslo</a>
                                <button [disabled]="loading" class="btn btn-primary float-right">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Zaloguj
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>