<div class="content">
    <div class="driver-form">
        <h4 class="text-center mb-4">{{'driver.add.title' | translate}}</h4>
        <form [formGroup]="driverForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <input formControlName="name" type="text" class="form-control" placeholder="{{'driver.placeholder.name' | translate}}" [ngClass]="{'is-invalid': (f.name.dirty || submitted) && f.name.errors}">
                    <div *ngIf="(f.name.dirty || submitted) && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">{{'form.error.required' | translate}}</div>
                        <div *ngIf="f.name.errors.maxlength">{{'form.error.maxLength' | translate}}</div>
                        <div *ngIf="f.name.errors.pattern">{{'form.error.onlyLetters' | translate}}</div>
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <input formControlName="lastName" type="text" class="form-control" placeholder="{{'driver.placeholder.lastName' | translate}}" [ngClass]="{'is-invalid': (f.lastName.dirty || submitted) && f.lastName.errors}">
                    <div *ngIf="(f.lastName.dirty || submitted) && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">{{'form.error.required' | translate}}</div>
                        <div *ngIf="f.lastName.errors.maxlength">{{'form.error.maxLength' | translate}}</div>
                        <div *ngIf="f.lastName.errors.pattern">{{'form.error.onlyLetters' | translate}}</div>
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <input formControlName="number" type="text" class="form-control" placeholder="{{'driver.placeholder.number' | translate}}" [ngClass]="{'is-invalid': (f.number.dirty || submitted) && f.number.errors}">
                    <div  *ngIf="(f.number.dirty || submitted) && f.number.errors" class="invalid-feedback">
                        <div *ngIf="f.number.errors.required">{{'form.error.required' | translate}}</div>
                        <div *ngIf="f.number.errors.maxlength">{{'form.error.maxLength' | translate}}</div>
                        <div *ngIf="f.number.errors.pattern">{{'form.error.onlyNumbers' | translate}}</div>
                    </div>
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <input formControlName="phoneNumber" type="text" class="form-control" placeholder="{{'driver.placeholder.phoneNumber' | translate}}" [ngClass]="{'is-invalid': (f.phoneNumber.dirty || submitted) && f.phoneNumber.errors}">
                    <div *ngIf="(f.phoneNumber.dirty || submitted) && f.phoneNumber.errors" class="invalid-feedback">
                        <div *ngIf="f.phoneNumber.errors.maxlength">{{'form.error.maxLength' | translate}}</div>
                        <div *ngIf="f.phoneNumber.errors.pattern">{{'form.error.phonePattern' | translate}}</div>
                    </div>
                </div>
            </div>
        
            <div class="form-group">
                <div class="row mt-5">
                    <div class="col-6">
                        <button [routerLink]="['/drivers']" type="button" class="btn btn-danger float-right">{{'driver.button.cancel' | translate}}</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1 float-left"></span>
                            {{'driver.button.add' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>