@import '../../../assets/styles/variables.less';

.header {
    //padding: 5px 10px 5px 10px;
    padding: 5px;
    background: @header-bg;
    font-size: 15px;
    margin: 0;

    .dropdown-toggle::after {
        display:none;
    }

    .logged-as {
        margin-right: 5px;
        color: white;
        font-weight:  700;
        
        img {
            border: 1px solid lightgray;
        }

        .rank {     //Delete?
            font-weight: 400;
        }
    }
    
    .logout {
        margin-left: 5px;
    }
}
