<div class="header">
    <div class="container">
        <div class="row">
            <div class="logged-as my-auto">
                <fa-icon [icon]="faUserCircle" class="mr-1" size="lg"></fa-icon>{{username}}
            </div>

            <div class="search my-auto mx-auto w-50">
                <div class="input-group input-group-sm">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </span>
                    </div>
        
                    <input #searchBox (keyup.enter)="viewClient(searchBox.value)" (selectItem)="searchClient($event)" type="text" class="form-control" value="" placeholder="{{'navbar.findNumber' | translate}}" [(ngModel)]="model" [ngbTypeahead]="search">
                </div>
            </div>
            

            <div ngbDropdown class="d-md-none">
                <button class="btn btn-outline-light" id="mobileMenu" ngbDropdownToggle placement="none">
                    <fa-icon [icon]="faBars"></fa-icon>
                </button>

                <div ngbDropdownMenu aria-labelledby="mobileMenu">
                    <button [routerLink]="['/']" ngbDropdownItem>
                        <fa-icon [icon]="faHome" class="mr-2"></fa-icon>
                        Strona Glowna
                    </button>
                    <button [routerLink]="['/courses']" ngbDropdownItem>
                        <fa-icon [icon]="faCar" class="mr-2"></fa-icon>
                        Kursy
                    </button>
                    <button [routerLink]="['/drivers']" ngbDropdownItem>
                        <fa-icon [icon]="faIdCard" class="mr-2"></fa-icon>
                        Kierowcy
                    </button>
                    <button [routerLink]="['/clients']" ngbDropdownItem>
                        <fa-icon [icon]="faChild" class="mr-2"></fa-icon>
                        Klienci
                    </button>
                    <button [routerLink]="['/users']" ngbDropdownItem>
                        <fa-icon [icon]="faUsers" class="mr-2"></fa-icon>
                        Uzytkownicy
                    </button>
                    <button [routerLink]="['/perms']" ngbDropdownItem>
                        <fa-icon [icon]="faBars" class="mr-2"></fa-icon>
                        Uprawnienia
                    </button>
                    <button [routerLink]="['/settings']" ngbDropdownItem>
                        <fa-icon [icon]="faCog" class="mr-2"></fa-icon>
                        Ustawienia
                    </button>
                    <button [routerLink]="['/logs']" ngbDropdownItem>
                        <fa-icon [icon]="faDatabase" class="mr-2"></fa-icon>
                        Logi
                    </button>
                    <button [routerLink]="['/help']" ngbDropdownItem>
                        <fa-icon [icon]="faQuestionCircle" class="mr-2"></fa-icon>
                        Pomoc
                    </button>
                    <button (click)="logout()" ngbDropdownItem>
                        <fa-icon [icon]="faPowerOff" class="mr-2"></fa-icon>
                        Wyloguj
                    </button>
                  </div>
            </div>
            <div class="d-none d-md-inline-block">
                <button (click)="logout()" class="btn btn-outline-light">{{'navbar.logout' | translate}}</button> 
            </div>
        </div>
    </div>
</div>