<ng-container *ngIf="loader.state === 'loaded'">
    <div class="content">
        <div class="driver-form">
            <h4 class="text-center mb-4">{{'client.edit.title' | translate}}</h4>
            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="col-sm-8 col-md-6 mx-auto">
                        <label for="number">{{'client.edit.label.number' | translate}}: </label>
                        <input formControlName="number" type="text" class="form-control" placeholder="{{'form.placeholder.number' | translate}}">
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-sm-8 col-md-6 mx-auto">
                        <label *ngIf="client.gratis || client.gratis === 0" for="gratis">{{'client.edit.label.gratis' | translate}}: </label>
                        <input formControlName="gratis" type="text" class="form-control" placeholder="{{'form.placeholder.gratis' | translate}}" [ngClass]="{'is-invalid': (f.gratis.dirty || submitted) && f.gratis.errors}">
                        <div *ngIf="(f.gratis.dirty || submitted) && f.gratis.errors" class="invalid-feedback">
                            <div *ngIf="f.gratis.errors.required">{{'form.error.required' | translate}}.</div>
                            <div *ngIf="f.gratis.errors.maxlength">{{'form.error.maxLength' | translate}}.</div>
                            <div *ngIf="f.gratis.errors.pattern">{{'form.error.onlyNumbers' | translate}}.</div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-sm-8 col-md-6 mx-auto">
                        <label *ngIf="client.name" for="name">{{'client.edit.label.name' | translate}}: </label>
                        <input formControlName="name" type="text" class="form-control" placeholder="{{'form.placeholder.name' | translate}}" [ngClass]="{'is-invalid': (f.name.dirty || submitted) && f.name.errors}">
                        <div *ngIf="(f.name.dirty || submitted) && f.name.errors" class="invalid-feedback">
                            <div *ngIf="f.name.errors.required">{{'form.error.required' | translate}}.</div>
                            <div *ngIf="f.name.errors.maxlength">{{'form.error.maxLength' | translate}}.</div>
                            <div *ngIf="f.name.errors.pattern">{{'form.error.onlyLetters' | translate}}.</div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-sm-8 col-md-6 mx-auto">
                        <label *ngIf="client.lastName" for="lastName">{{'client.edit.label.lastName' | translate}}: </label>
                        <input formControlName="lastName" type="text" class="form-control" placeholder="{{'form.placeholder.lastName' | translate}}" [ngClass]="{'is-invalid': (f.lastName.dirty || submitted) && f.lastName.errors}">
                        <div *ngIf="(f.lastName.dirty || submitted) && f.lastName.errors" class="invalid-feedback">
                            <div *ngIf="f.lastName.errors.required">{{'form.error.required' | translate}}.</div>
                            <div *ngIf="f.lastName.errors.maxlength">{{'form.error.maxLength' | translate}}.</div>
                            <div *ngIf="f.lastName.errors.pattern">{{'form.error.onlyLetters' | translate}}.</div>
                        </div>
                    </div>
                </div>
    
                <div class="form-group">
                    <div class="col-sm-8 col-md-6 mx-auto">
                        <label *ngIf="client.phoneNumber" for="phoneNumber">{{'client.edit.label.phoneNumber' | translate}}: </label>
                        <input formControlName="phoneNumber" type="text" class="form-control" placeholder="{{'form.placeholder.phoneNumber' | translate}}" [ngClass]="{'is-invalid': (f.phoneNumber.dirty || submitted) && f.phoneNumber.errors}">
                        <div *ngIf="(f.phoneNumber.dirty || submitted) && f.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.phoneNumber.errors.required">{{'form.error.required' | translate}}.</div>
                            <div *ngIf="f.phoneNumber.errors.maxlength">{{'form.error.maxLength' | translate}}.</div>
                            <div *ngIf="f.phoneNumber.errors.pattern">{{'form.error.phonePattern' | translate}} a</div>
                        </div>
                    </div>
                </div>
        
    
            
                <div class="form-group">
                    <div class="row mt-5">
                        <div class="col-6">
                            <button [routerLink]="['/clients']" type="button" class="btn btn-danger float-right">{{'client.button.cancel' | translate}}</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-success">
                                <span *ngIf="sending" class="spinner-border spinner-border-sm mr-1 float-left"></span>
                                {{'client.button.confirm' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</ng-container>