<ng-container *ngIf="true">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="text-center">Data</th>
                <th class="text-center">Log</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-success">
                <td class="text-center">12.02.2020 14:58</td>
                <td class="text-center">Uzytkownik zalogowal sie do panelu.</td>
            </tr>
            <tr class="table-danger">
                <td class="text-center">12.02.2020 14:58</td>
                <td class="text-center">Uzytkownik usunal kurs kierowcy Bobek Nierobek od klienta o numerze 3725</td>
            </tr>
        </tbody>
    </table>


    <div class="row">
        <div class="col-3 my-auto">
            <label class="float-left mx-2">Pokaz</label>
            <select class="form-control form-control-sm w-auto">
                <option>10</option>
                <option>25</option>
                <option>50</option>
            </select>
        </div>
        <div class="col-6 my-auto">
            <div class="col-4 mx-auto">
                <ul class="pagination my-auto">
                    <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                </ul>
            </div>
            
        </div>
    </div>
</ng-container>