.table-content {
    margin-bottom: 1rem;
    background: #fafafa;
    padding: 20px;
    border: 1px solid lightgray;
    border-top: 0px;
}

fa-icon {
    margin: 0px 5px 0px 5px;
}

fa-icon:hover {
    cursor: pointer;
}