<ng-container *ngIf="loading">
    <div class="table-content text-center">
        <span class="spinner-border m-4"></span>
    </div>
</ng-container>

<ng-container *ngIf="!loading && (!drivers || !courses)">
    <div class="table-content text-center">
        <h4 class="text-secondary">{{'course.noData' | translate}}</h4>
    </div>
</ng-container>

<ng-container *ngIf="!loading && (drivers && courses)">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>{{'course.table.number' | translate}}</th>
                <th>{{'course.table.driver' | translate}}</th>
                <th>{{'course.table.date' | translate}}</th>
                <th>{{'course.table.options' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td>{{course.client}}</td>
                <td>{{getDriver(course.driver).name}} {{getDriver(course.driver).lastName}}</td>
                <td>{{course.date | date: 'dd-MM-y H:mm'}}</td>
                <td>
                    <fa-icon [routerLink]="['/courses/edit/', course.id]" [icon]="faPencilAlt" placement="top" ngbTooltip="{{'course.tooltip.editCourse' | translate}}"></fa-icon>
                    <fa-icon (click)="delete(course)" [icon]="faTrash" placement="top" ngbTooltip="{{'course.tooltip.deleteCourse' | translate}}"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>

<app-courses-pagination (changed)="updateCourses()"></app-courses-pagination>
<button [routerLink]="['/courses/add']" class="btn btn-primary float-right">{{'course.button.addCourse' | translate}}</button>