<ng-container *ngIf="loader.state === 'loaded'">
  <ul class="nav nav-tabs">
    <li (click)="selectTab(0)" class="nav-item">
      <a [ngClass]="{'active': selectedTab === 0}" class="nav-link">{{'course.list.tabOne' | translate}}</a>
    </li>
    <li (click)="selectTab(1)" class="nav-item">
      <a [ngClass]="{'active': selectedTab === 1}" class="nav-link">{{'course.list.tabTwo' | translate}}</a>
    </li>
    
  </ul>
  <ng-container *ngIf="selectedTab === 0">
    <app-courses-table></app-courses-table>
  </ng-container>
  <ng-container *ngIf="selectedTab === 1">
      <app-gratis-table></app-gratis-table>
  </ng-container>
</ng-container>