<ng-container *ngIf="loader.state === 'loaded'">
    <div class="row">
        <div class="col-12 mx-auto">
            <table *ngIf="drivers != '{}'" class="table table-striped">
                <thead class="thead-light">
                    <tr>
                        <th>{{'driver.table.name' | translate}}</th>
                        <th>{{'driver.table.lastName' | translate}}</th>
                        <th>{{'driver.table.number' | translate}}</th>
                        <th>{{'driver.table.options' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let driver of drivers">
                        <td>{{driver.name}}</td>
                        <td>{{driver.lastName}}</td>
                        <td>{{driver.number}}</td>
                        <td>
                            <fa-icon [routerLink]="['/drivers/view/', driver.id]" [icon]="faEye" placement="top" ngbTooltip="{{'driver.tooltip.view' | translate}}"></fa-icon>
                            <fa-icon [routerLink]="['/drivers/edit/', driver.id]" [icon]="faPencil" placement="top" ngbTooltip="{{'driver.tooltip.edit' | translate}}"></fa-icon>
                            <fa-icon (click)="delete(driver)" [icon]="faTrash" placement="top" ngbTooltip="{{'driver.tooltip.delete' | translate}}"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <div *ngIf="drivers === '{}'" class="empty-table">
                {{'driver.noDriversFound' | translate}}
            </div>
            
            <div class="row">
                <div class="col-12">
                    <button [routerLink]="['/drivers/add']" class="btn btn-primary float-right">{{'driver.button.addDriver' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</ng-container>