<ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Logi Klientow</a>
      <ng-template ngbNavContent>
          <table class="table table-striped">
              <thead class="thead-light">
                  <tr>
                      <th>Data</th>
                      <th>ID</th>
                      <th>Log</th>
                  </tr>
              </thead>
              <tbody>
                <tr>
                    <td>14:24 13-05-2020</td>
                    <td>3</td>
                    <td>User xxx added something to driver yyy</td>
                </tr>
                <tr>
                    <td>14:24 13-05-2020</td>
                    <td>3</td>
                    <td>User xxx added something to driver yyy</td>
                </tr>
              </tbody>
          </table>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Logi Kierowcow</a>
      <ng-template ngbNavContent>Second content</ng-template>
    </li>
    <li ngbNavItem>
        <a ngbNavLink>Logi Uzytkownikow</a>
        <ng-template ngbNavContent>Second content</ng-template>
      </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>