<div class="modal-header">
    <h5 class="modal-title mx-auto">{{'modal.title' | translate}}</h5>
</div>
<div class="modal-body mx-auto">
    <p [innerHTML]="confirmationText"></p>
</div>
<div class="modal-footer">
    <button (click)="close()" class="btn btn-danger">{{'modal.no' | translate}}</button>
    <button (click)="accept()" class="btn btn-success">
        <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        {{'modal.yes' | translate}}
    </button>
</div>