<ng-container *ngIf="loading">
    <div class="table-content">
        <div class="row">
            <div class="col-12 text-center m-5">
                <span class="spinner-border"></span>
            </div>
        </div>
    </div>
    
</ng-container>

<ng-container *ngIf="!loading && !clients">
    <div class="table-content">
        <div class="row">
            <div class="col-12 text-center m-5">
                <h4 class="text-secondary">{{'course.noData' | translate}}</h4>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!loading && clients">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>{{'course.table.number' | translate}}</th>
                <th>{{'course.table.name' | translate}}</th>
                <th>{{'course.table.lastName' | translate}}</th>
                <th>{{'course.table.options' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients">
                <td>{{client.number}}</td>
                <td>{{client.name | detectData}}</td>
                <td>{{client.lastName | detectData}}</td>
                <td>
                    <fa-icon [routerLink]="['/clients/edit/', client.number]" [icon]="faPencilAlt" placement="top" ngbTooltip="{{'course.tooltip.editClient' | translate}}"></fa-icon>
                    <fa-icon (click)="open(client.number)" [icon]="faCar" placement="top" ngbTooltip="{{'course.tooltip.useCourse' | translate}}"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>
    
</ng-container>

<app-gratis-pagination (changed)="updateData()"></app-gratis-pagination>
