<div class="container">
    <div class="row vh-100">
        <div class="col-4 m-auto">
            <div class="box">
                <div class="header">Ustawianie Nowego Hasla</div>
                <div class="content">
                    <form [formGroup]="resetForm" *ngIf="false">
                        <div class="form-group">
                            <input type="text" formControlName="new_pass" class="form-control" placeholder="Nowe haslo">
                        </div>

                        <div class="form-group">
                            <input type="text" formControlName="new_pass_repeat" class="form-control" placeholder="Powtorz haslo">
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <button class="btn btn-primary float-right">Ustaw</button>
                            </div>
                        </div>
                    </form>

                    <div *ngIf="true" class="row mx-2">
                        <ngb-alert type="danger" [dismissible]="false">Podany link wygasl i nie moze zostac wykorzystany do ponownego ustawienia hasla.</ngb-alert>
                        <button class="btn btn-primary mx-auto" [routerLink]="['/pass-reset']">Powrot</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>