.box {
    border: 1px solid lightgray;

    .header {
        text-align: center;
        border-bottom: 1px solid lightgrey;
        margin: 0px 10% 0px 10%;
        padding: 10px;
    }

    .content {
        padding: 30px 15px 20px 15px;
    }
}

