<ng-container *ngIf="loaded">
    <div class="row">
        <div class="col">
            <label class="float-left mx-2 my-auto">{{'form.label.show' | translate}}</label>
            <select (change)="changePageSize($event.target.value)" class="form-control form-control-sm w-auto">
                <ng-container *ngFor="let page of pages">
                    <option [selected]="page == pageSize" value="{{page}}">{{page}}</option>
                </ng-container>
            </select>
        </div>
    
        <ng-container>
            <div class="col">
                <ngb-pagination
                    [(page)]="currentPage"
                    [pageSize]="pageSize"
                    [collectionSize]="pagesCount*pageSize"
                    (pageChange)="changePage(currentPage)">
                </ngb-pagination>
            </div>
        </ng-container>
    </div>
</ng-container>