<ng-container *ngIf="loader.state === 'loaded'">
    <div class="user">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>{{'users.view.table.login' | translate}}:</td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <td>{{'users.view.table.email' | translate}}:</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <td>{{'users.view.table.rank' | translate}}:</td>
                    <td [style.color]="'#'+getRank(user.rank).color">{{getRank(user.rank).name}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <button [routerLink]="['/users/edit/', userId]" class="btn btn-primary float-right mx-1">{{'users.button.editUser' | translate}}</button>
            <button [routerLink]="['/users']" class="btn btn-danger float-right mx-1">{{'users.button.back' | translate}}</button>
        </div>
    </div>
    
    <!-- <app-user-logs></app-user-logs> -->
    <!-- <app-profile-logs [id]="userId" type="0"></app-profile-logs> -->
</ng-container>