<ng-container *ngIf="loader.state === 'loaded'">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>{{'users.list.table.login' | translate}}</th>
                <th>{{'users.list.table.rank' | translate}}</th>
                <th>{{'users.list.table.options' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.username}}</td>
                <td *ngIf="getRank(user.rank) else rankNotFound" [style.color]="'#'+getRank(user.rank).color">{{getRank(user.rank).name}}</td>
                <td>
                    <fa-icon [routerLink]="['/users/view/', user.id]" [icon]="faEye" placement="top" ngbTooltip="{{'users.tooltip.viewUser' | translate}}"></fa-icon>
                    <fa-icon [routerLink]="['/users/edit/', user.id]" [icon]="faPencilAlt" placement="top" ngbTooltip="{{'users.tooltip.editUser' | translate}}"></fa-icon>
                    <fa-icon (click)="delete(user)" [icon]="faTrash" placement="top" ngbTooltip="{{'users.tooltip.deleteUser' | translate}}"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-12">
            <button [routerLink]="['/users/add']" class="btn btn-primary float-right">{{'users.button.addUser' | translate}}</button>
        </div>
    </div>
</ng-container>