<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-0 col-md-3 py-4 d-none d-md-inline-block">
            <app-sidebar></app-sidebar>
        </div>
        
        <div class="col-12 col-md-9 py-4">
            <app-loader></app-loader>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>