<ng-container *ngIf="loader.state === 'loaded'">
    <div class="driver">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>{{'driver.table.name' | translate}}:</td>
                    <td>{{driver.name}}</td>
                </tr>
                <tr>
                    <td>{{'driver.table.lastName' | translate}}:</td>
                    <td>{{driver.lastName}}</td>
                </tr>
                <tr>
                    <td>{{'driver.table.driverNumber' | translate}}:</td>
                    <td>{{driver.number}}</td>
                </tr>
                <tr>
                    <td>{{'driver.table.phoneNumber' | translate}}:</td>
                    <td>{{driver.phoneNumber}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <button [routerLink]="['/drivers/edit/', driverID]" class="btn btn-primary float-right mx-1">{{'driver.button.editDriver' | translate}}</button>
            <button [routerLink]="['/drivers']" class="btn btn-danger float-right mx-1">{{'driver.button.back' | translate}}</button>
        </div>
    </div>

    <!-- <app-profile-logs [id]="driverID" type="1"></app-profile-logs> -->
</ng-container>