.content {
    margin-bottom: 1rem;
    background: #fafafa;
    padding: 20px;
    border: 1px solid lightgray;
}

.spinner-border 
{
    color: gray;
}

.table {
    td {
        text-align: left;
        padding: 10px 20px 10px 20px;
    }
}