.sidebar {
    background: #fafafa;
    padding: 15px;
    border: 1px solid lightgray;
    
    .logo {
        img {
            width: 128px;
            height: 96px;
        }
    }

    .menu {
        margin-top: 10px;
        width: 100%;

        ul {
            list-style-type: none;
            margin: 0px;
            padding: 20px;
            color: #4c4c4c;

            li {
                padding: 10px 5px 5px 5px;
                cursor: pointer;
                border-bottom: 1px solid lightgray;

                fa-icon {
                    margin-right: 10px;
                }
            }

            li:hover {
                background: #f1f1f1;
            }
        }
    }

    .lang_select:hover {
        cursor: pointer;
    }
}