<div class="sidebar d-none d-md-block">
    <div class="row">
        <div class="logo mx-auto">
            <img src="assets/logo.png">
        </div>
    </div>

    <div class="row">
        <div class="menu mx-auto">
            <ul>
                <li [routerLink]="['/']"><fa-icon [icon]="faHome" fixedWidth="50"></fa-icon>{{'sidebar.mainPage' | translate}}</li>
                <li [routerLink]="['/courses']"><fa-icon [icon]="faCar"></fa-icon>{{'sidebar.courses' | translate}}</li>
                <li [routerLink]="['/drivers']"><fa-icon [icon]="faIdCard"></fa-icon>{{'sidebar.drivers' | translate}}</li>
                <li [routerLink]="['/clients']"><fa-icon [icon]="faChild"></fa-icon>{{'sidebar.clients' | translate}}</li>
                <li [routerLink]="['/users']"><fa-icon [icon]="faUsers"></fa-icon>{{'sidebar.users' | translate}}</li>
                <li [routerLink]="['/perms']"><fa-icon [icon]="faBars"></fa-icon>{{'sidebar.permissions' | translate}}</li>
                <li [routerLink]="['/settings']"><fa-icon [icon]="faCog"></fa-icon>{{'sidebar.settings' | translate}}</li>
                <!-- <li [routerLink]="['/logs']"><fa-icon [icon]="faDatabase"></fa-icon>{{'sidebar.logs' | translate}}</li> -->
                <li [routerLink]="['/help']"><fa-icon [icon]="faQuestionCircle"></fa-icon>{{'sidebar.help' | translate}}</li>
            </ul>

            <div class="row">
                <div class="mx-auto">
                    <div class="lang_select mx-3 mt-2 float-left" (click)="selectLanguage('pl')" placement="top" ngbTooltip="Polski">
                        <img src="assets/flags/pl.png">
                    </div>
                    <div class="lang_select mx-3 mt-2 float-left" (click)="selectLanguage('en')" placement="top" ngbTooltip="English">
                        <img src="assets/flags/en.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
