<ng-container *ngIf="loader.state === 'loaded'">
    <div class="content">
        <h4 class="text-center mb-4">{{'course.add.title' | translate}}</h4>
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <input formControlName="client" type="text" class="form-control" placeholder="{{'course.placeholder.number' | translate}}" [ngClass]="{'is-invalid': (f.client.dirty || submitted) && f.client.errors}">
                    <div *ngIf="(f.client.dirty || submitted) && f.client.errors" class="invalid-feedback">
                        <div *ngIf="f.client.errors.required">{{'form.error.required' | translate}}</div>
                        <div *ngIf="f.client.errors.pattern">{{'form.error.onlyNumbers' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <select formControlName="driver" class="browser-default custom-select">
                        <ng-container *ngFor="let driver of drivers">
                            <option value="{{driver.id}}">{{driver.name}} {{driver.lastName}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        
            <div class="form-group">
                <div class="row mt-5">
                    <div class="col-6">
                        <button [routerLink]="['/courses']" type="button" class="btn btn-danger float-right">{{'course.button.cancel' | translate}}</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success">
                            <span *ngIf="sending" class="spinner-border spinner-border-sm mr-1 float-left"></span>
                            {{'course.button.add' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-container>