<ng-container *ngIf="loader.state === 'loaded'">
    <div class="content">
        <h4 class="text-center mb-4">{{'users.edit.title' | translate}}</h4>

        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <input formControlName="username" type="text" class="form-control" placeholder="Login" [ngClass]="{'is-invalid': (f.username.dirty || submitted) && f.username.errors}">
                    <div *ngIf="(f.username.dirty || submitted) && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">{{'form.error.required' | translate}}</div>
                        <div *ngIf="f.username.errors.minlength">{{'form.error.minLength' | translate}}</div>
                        <div *ngIf="f.username.errors.maxlength">{{'form.error.maxLength' | translate}}</div>
                        <div *ngIf="f.username.errors.pattern">{{'form.error.alphanumericPattern' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <input formControlName="email" type="text" class="form-control" placeholder="Email" [ngClass]="{'is-invalid': (f.email.dirty || submitted) && f.email.errors}">
                    <div *ngIf="(f.email.dirty || submitted) && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">{{'form.error.required' | translate}}</div>
                        <div *ngIf="f.email.errors.minlength">{{'form.error.minLength' | translate}}</div>
                        <div *ngIf="f.email.errors.maxlength">{{'form.error.maxLength' | translate}}</div>
                        <div *ngIf="f.email.errors.pattern">{{'form.error.emailPattern' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <input formControlName="password" type="password" class="form-control" placeholder="Haslo" [ngClass]="{'is-invalid': (f.password.dirty || submitted) && f.password.errors}">
                    <div *ngIf="(f.password.dirty || submitted) && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.minlength">{{'form.error.minLength' | translate}}</div>
                        <div *ngIf="f.password.errors.maxlength">{{'form.error.maxLength' | translate}}</div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto">
                    <select formControlName="rank" class="browser-default custom-select">
                        <ng-container *ngFor="let rank of ranks">
                            <option value="{{rank.id}}">{{rank.name}}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
        
            <div class="form-group">
                <div class="row mt-5">
                    <div class="col-6">
                        <button [routerLink]="['/users']" type="button" class="btn btn-danger float-right">{{'users.button.back' | translate}}</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-success">
                            <span *ngIf="sending" class="spinner-border spinner-border-sm mr-1 float-left"></span>
                            {{'users.button.confirm' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-container>