<ng-container *ngIf="loader.state === 'loaded'">
    <div class="row">
        <div class="col-12 mx-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>{{'client.list.table.number' | translate}}</th>
                        <th>{{'client.list.table.gratis' | translate}}</th>
                        <th>{{'client.list.table.modified' | translate}}</th>
                        <th>{{'client.list.table.options' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients">
                        <td>{{client.number}}</td>
                        <td>{{client.gratis}}</td>
                        <td>{{client.lastModified | lastModified}}</td>
                        <td>
                            <fa-icon [routerLink]="['/clients/view/', client.number]" [icon]="faEye" placement="top" ngbTooltip="{{'client.tooltip.view' | translate}}"></fa-icon>
                            <fa-icon [routerLink]="['/clients/edit/', client.number]" [icon]="faPencilAlt" placement="top" ngbTooltip="{{'client.tooltip.edit' | translate}}"></fa-icon>
                            <fa-icon *ngIf="client.gratis >= 10" [routerLink]="['']" [icon]="faCar" placement="top" ngbTooltip="{{'client.tooltip.useCourse' | translate}}"></fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>

<div class="row">
    <div class="col-12 mx-auto">
        <app-clients-pagination (changed)="updateClients()"></app-clients-pagination>
    </div>
</div>