.content {
    margin-bottom: 1rem;
    background: #fafafa;
    padding: 20px;
    border: 1px solid lightgray;
}

.empty-table {
    background: none;
    border: 1px solid lightgray;
    text-align: center;
    padding: 50px;
    font-weight: 700;
    color: gray;
}

fa-icon {
    margin: 0px 5px 0px 5px;
}

fa-icon:hover {
    cursor: pointer;
}