<ng-container *ngIf="loader.state === 'loaded'">
    <div class="content">
        <h4>{{'dashboard.pageTitle' | translate}}</h4><br>
        <!-- <p><b>{{'dashboard.simpleCourse' | translate}}</b> - {{'dashboard.simpleCourse_desc' | translate}}<br>
        
        <b>{{'dashboard.gratisList' | translate}}</b> - {{'dashboard.gratisList_desc' | translate}}<br>
        <b>{{'dashboard.logs' | translate}}</b> - {{'dashboard.logs_desc' | translate}}<br></p> -->
        <p>{{'dashboard.desc_1' | translate}}<br>
        {{'dashboard.desc_2' | translate}}</p>
    
    </div>
</ng-container>