<ng-container *ngIf="true">
    <table class="table table-bordered table-striped">
        <thead class="thead-light">
            <tr>
                <th class="text-center">Data</th>
                <th class="text-center">Log</th>
            </tr>
        </thead>
        
        <tbody>
            <div class="row" *ngIf="!logs">
                <div class="col-12 text-center my-3">
                    Brak Danych
                </div>
            </div>

            <tr *ngFor="let log of logs">
                <td class="text-center">{{log.time | date:'HH:mm:ss dd-MM-yyyy'}}</td>
                <td class="text-center">{{log.log}}</td>
            </tr>
        </tbody>
    </table>

    <app-pagination [type]="type" [id]="id" (changed)="update()"></app-pagination>
</ng-container>