<ng-container *ngIf="loader.state === 'loaded'">
    <table class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th>{{'permissions.table.name' | translate}}</th>
                <th>{{'permissions.table.color' | translate}}</th>
                <th>{{'permissions.table.access' | translate}}</th>
                <th>{{'permissions.table.options' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rank of ranks">
                <td>
                    {{rank.name}}<ng-container *ngIf="rank.isDefault">*</ng-container>
                </td>
                <td [style.color]="'#'+rank.color">#{{rank.color}}</td>
                <td>{{rank.perms}}</td>
                <td>
                    <!-- <fa-icon *ngIf="!rank.isDefault" [routerLink]="['/perms/edit/', rank.id]" [icon]="faToggleOn" placement="top" ngbTooltip="{{'permissions.tooltip.setAsDefault' | translate}}"></fa-icon> -->
                    <fa-icon [routerLink]="['/perms/edit/', rank.id]" [icon]="faPencil" placement="top" ngbTooltip="{{'permissions.tooltip.editRank' | translate}}"></fa-icon>
                    <fa-icon (click)="delete(rank)" [icon]="faTrash" placement="top" ngbTooltip="{{'permissions.tooltip.deleteRank' | translate}}"></fa-icon>
                </td>
            </tr>
        </tbody>
    </table>

    

    <div class="row">
        <div class="col-12">
            <button [routerLink]="['/perms/add']" class="btn btn-primary float-right">{{'permissions.button.addRank' | translate}}</button>
        </div>
    </div>
</ng-container>