<ng-container *ngIf="loader.state === 'loading'">
    <div class="content">
        <div class="row">
            <div class="mx-auto">
                <div class="spinner-border m-4"></div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="loader.state === 'timeout'">
    <div class="content">
        <div class="row">
            <div class="mx-auto my-3 text-center">
                <div class="text-danger m-3">
                    <h4>{{'error.client.dataNotLoaded' | translate}}</h4>
                </div>
                <button class="btn btn-primary" (click)="reload()">{{'client.button.tryAgain' | translate}}</button>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="loader.state === 'error'">
    <div class="content">
        <div class="row">
            <div class="mx-auto">
                <h5 class="text-danger m-3">{{loader.error_msg | translate}}</h5>
            </div>
            
        </div>
    </div>
</ng-container>