<ng-container *ngIf="loader.state === 'loaded'">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>{{'client.view.number' | translate}}:</td>
                <td>{{client.number}}</td>
            </tr>
            <tr>
                <td>{{'client.view.courses' | translate}}:</td>
                <td>{{client.gratis}}</td>
            </tr>
            <tr>
                <td>{{'client.view.name' | translate}}:</td>
                <td>{{client.name | detectData }}</td>
            </tr>
            <tr>
                <td>{{'client.view.lastName' | translate}}:</td>
                <td>{{client.lastName | detectData}}</td>
            </tr>
            <tr>
                <td>{{'client.view.phoneNumber' | translate}}:</td>
                <td>{{client.phoneNumber | detectData}}</td>
            </tr>
            <tr>
                <td>{{'client.view.lastModified' | translate}}:</td>
                <td>{{client.lastModified | lastModified}}</td>
            </tr>
        </tbody>
    </table>

    <div class="row mb-3">
        <div class="col-12">
            <button [routerLink]="['/clients/edit/', clientID]" class="btn btn-primary float-right mx-1">{{'client.button.edit' | translate}}</button>
            <button *ngIf="client" [routerLink]="['/clients']" class="btn btn-danger float-right mx-1">{{'client.button.return' | translate}}</button>
        </div>
    </div>
    
    <!-- <app-profile-logs [id]="clientID" [type]="2"></app-profile-logs> -->
    <!-- <app-client-logs [error]="error" [loaded]="true"></app-client-logs> -->
</ng-container>