@import 'assets/styles/base.less';
@import 'assets/styles/tables.less';
@import 'assets/styles/variables.less';
@import '../node_modules/ngx-toastr/toastr.css';

body { 
    //background: @background;
    background-image: url('assets/background.png');
}

.btn-light {
    background: #e4e4e4;
}

.btn-light:hover {
    background: lightgray;
}