<div class="content">
    <h4 class="text-center">{{'help.title' | translate}}</h4><br>

    <ul>
        <li>{{'help.li.title.courses' | translate}} - {{'help.li.desc.courses' | translate}}<p>
            <b>{{'help.p.title.courseTab' | translate}}</b> - {{'help.p.desc.courseTab' | translate}}<br>
            <b>{{'help.p.title.gratisTab' | translate}}</b> - {{'help.p.desc.gratisTab' | translate}}<br>
            <b>{{'help.p.title.courseButton' | translate}}</b> - {{'help.p.desc.courseButton' | translate}}
        </p></li>
        <li>{{'help.li.title.drivers' | translate}} - {{'help.li.desc.drivers' | translate}}<p>
            <b>{{'help.p.title.iconViewDriver' | translate}}</b> - {{'help.p.desc.iconViewDriver' | translate}}<br>
            <b>{{'help.p.title.iconEditDriver' | translate}}</b> - {{'help.p.desc.iconEditDriver' | translate}}<br>
            <b>{{'help.p.title.iconDeleteDriver' | translate}}</b> - {{'help.p.desc.iconDeleteDriver' | translate}}<br>
            <b>{{'help.p.title.driverButton' | translate}}</b> - {{'help.p.desc.driverButton' | translate}}
        </p></li>
        <li>{{'help.li.title.clients' | translate}} - {{'help.li.desc.clients' | translate}}<p>
            <b>{{'help.p.title.iconShowClient' | translate}}</b> - {{'help.p.desc.iconShowClient' | translate}}<br>
            <b>{{'help.p.title.iconEditClient' | translate}}</b> - {{'help.p.desc.iconEditClient' | translate}}
        </p></li>
        <li>{{'help.li.title.users' | translate}} - {{'help.li.desc.users' | translate}}<p>
            <b>{{'help.p.title.iconViewUser' | translate}}</b> - {{'help.p.desc.iconViewUser' | translate}}<br>
            <b>{{'help.p.title.iconEditUser' | translate}}</b> - {{'help.p.desc.iconEditUser' | translate}}<br>
            <b>{{'help.p.title.iconDeleteUser' | translate}}</b> - {{'help.p.desc.iconDeleteUser' | translate}}<br>
            <b>{{'help.p.title.userButton' | translate}}</b> - {{'help.p.desc.userButton' | translate}}
        </p></li>
        <li>{{'help.li.title.permissions' | translate}} - {{'help.li.desc.permissions' | translate}}<p>
            <b>{{'help.p.title.iconEditRank' | translate}}</b> - {{'help.p.desc.iconEditRank' | translate}}<br>
            <b>{{'help.p.title.iconDeleteRank' | translate}}</b> - {{'help.p.desc.iconDeleteRank' | translate}}<br>
            <b>{{'help.p.title.rankButton' | translate}}</b> - {{'help.p.desc.rankButton' | translate}}
        </p></li>
        <li>{{'help.li.title.settings' | translate}} - {{'help.li.desc.settings' | translate}}<p>
            <b>{{'help.p.title.pageTitle' | translate}}</b> - {{'help.p.desc.pageTitle' | translate}}<br>
            <b>{{'help.p.title.language' | translate}}</b> - {{'help.p.desc.language' | translate}}
        </p></li>
        <li>{{'help.li.title.help' | translate}} - {{'help.li.desc.help' | translate}}</li>
        <li>{{'help.li.title.flags' | translate}} - {{'help.li.desc.flags' | translate}}</li>
    </ul>
</div>