<div class="row">
    <div class="col-3 my-auto">
        <label class="float-left mx-2 my-auto">{{'form.label.show' | translate}}</label>
        <select (change)="changePageSize($event.target.value)" class="form-control form-control-sm w-auto">
            <ng-container *ngFor="let page of pages">
                <option [selected]="page == pageSize" value="{{page}}">{{page}}</option>
            </ng-container>
        </select>
    </div>


    <div class="col-6 my-auto">
        <div class="col-4 mx-auto">
            <!-- <ul class="pagination my-auto">
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&laquo;</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
            </ul> -->
            
            <ngb-pagination
                [(page)]="currentPage"
                [pageSize]="pageSize"
                [collectionSize]="pagesCount*pageSize"
                (pageChange)="changePage(currentPage)">
            </ngb-pagination>
        </div>
        
    </div>
</div>