<ng-container *ngIf="loader.state === 'loaded'">
    <div class="content">
        <h4 class="text-center mb-4">{{'settings.title' | translate}}</h4>

        <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto mb-2">
                    <label for="title">{{'settings.label.pageTitle' | translate}}:</label>
                    <input formControlName="title" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 col-md-6 mx-auto mb-2">
                    <label for="language">{{'settings.label.lang' | translate}}:</label>
                    <select formControlName="language" class="browser-default custom-select">
                        <option value="english">English</option>
                        <option value="polish">Polski</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6 mx-auto text-center mt-4">
                        <button class="btn btn-success">
                            <span *ngIf="sending" class="spinner-border spinner-border-sm mr-1 float-left"></span>
                            {{'settings.button.saveChanges' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-container>